.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  // sass 如果要使用绝对路径，要用~
  background-image: url('~assets/images/login.png');
  background-size: cover;
  :global {
    .login-container {
      width: 440px;
      height: 360px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .login-logo {
      display: block;
      width: 200px;
      height: 60px;
      margin: 0 auto 20px;
    }
  }
}
